@using BlogPessoal.Web.Models
@model CategoriaDeArtigo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div>
       
        @Html.ValidationSummary(true, "Problemas encontrados.", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <div>
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
            <div>
                @Html.TextAreaFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger"})
            </div>
        </div>

       <div class="form-group">
           <input type="submit" value="Create" class="btn btn-default" />
       </div>

    </div>
}