@using BlogPessoal.Web.Models
@model CategoriaDeArtigo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Voce tem certeza que deseja remover esta categoria?</h3>
<div>
    <h4>Categoria de Artigo</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
