@using BlogPessoal.Web.Models
@model IEnumerable<CategoriaDeArtigo>

@{
    ViewBag.Title = "Index";

}

<h2>Categoria de Artigo</h2>

<div>
    @Html.ActionLink("Adicionar novo", "Create")
</div>

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Descrição
        </th>
        <th>
            Opções
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id} )
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id})
            </td>
        </tr>
    }

</table>